body {
    background: url("https://images.unsplash.com/photo-1635372722656-389f87a941b7?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border-radius: 10px;
    margin: 10px;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px rgb(80, 80, 80);
    border-radius: 5px;
}

.input::placeholder {
    color: rgb(119, 119, 119);
    font-family: inherit;
}

.btn {
    background-color: gray;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: inherit;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px gray;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}

.score {
    color: grey;
    text-align: right;
}